#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}

.logo {
    height: 6em;
    padding: 1.5em;
    will-change: filter;
    transition: filter 300ms;
}

.logo:hover {
    filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
    filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

@media (prefers-reduced-motion: no-preference) {
    a:nth-of-type(2) .logo {
        animation: logo-spin infinite 20s linear;
    }
}

.card {
    padding: 2em;
}

.read-the-docs {
    color: #888;
}

p {
    text-align: start;
    margin-block: 4px;
}

ul {
    padding: 0;
    margin: 0;
    margin-bottom: 16px;
}

label {
    padding: 5px;
}

input {
    height: 32px;
}

.title {
    font-size: 24px;
    margin-block: 24px;
    color: #2f4f4f;
}

.subtitle {
    font-size: 20px;
    font-weight: 600;
    padding-block-end: 16px;
}

.grid {
    display: grid;
    grid-template-columns: 100px 1fr 100px 50px 50px;
    align-items: center;
    gap: 4px;
}

.border {
    border: 1px solid #2f4f4f;
    width: 100%;
}

.item {
    text-align: start;
    gap: 4px;
}

.item img {
    height: 100px;
    width: auto;
    margin: 4px;
    object-fit: cover;
    display: flex;
    align-items: center;
}

.btn {
    background-color: #2f4f4f;
    color: white;
    margin: 8px;
}

.tiny-btn {
    padding: 0;
}

.link-button {
    padding: 16px;
    border-radius: 8px;
    margin: 16px;
}

.btn:hover {
    background-color: #2f4f4fd7;
}

.close-button{
    background-color : rgb(191, 6, 6);
}

.form {
    display: flex;
    flex-direction: column;
    text-align: start;
    padding-block: 16px;
}

.bold {
    font-weight: bold;
}

.archived {
    opacity: .5;
}

.archived li {
    list-style: none;
}

.dialog-content {
    background-color: #fff;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    padding: 16px;
    border: 1px solid #2f4f4f;
    border-radius: 8px;
}

.backdrop{
    background-color: rgb(78, 75, 75, .5);
    position: fixed;
    inset : 0;
}

.flex{
    display : flex; 
    justify-content: space-between;
    align-items: center;
}

.flex .title{
    margin : 0;
}